@layout('main')
@section('title')
OnCampus - Welcome!
@endsection
@section('extracss')
@endsection
@section('content')
<div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple events listing app. Users can create accounts to add/edit/remove the events.</p>
        <hr class="my-4">
        <p>version 0.0.1</p>
      </div>
@endsection