@layout('main')

@section('title')
On-Campus - Post your Events 
@endsection

@section('content')
  <h1>All Events</h1>
  <div class="event-container">
    <div class="blank"></div>
    <div class="event-info">
      <h3>Event Title</h3>
      <p>Future event description can go here.</p>
    </div>
  </div>
@endsection