@layout('main')

@section('title')
On-Campus - Post your Events 
@endsection

@section('content')
  <h1>All Events</h1>
  @each(job in events)
  <div class="event-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3><a href="{{ job.link }}">{{ job.title }}</a></h3>
      <p>{{ job.description }}</p>
    </div>
  </div>
  @endeach
@endsection

