@layout('main')

@section('title')
On-Campus - Post your Events 
@endsection

@section('content')
  <h1>All Events</h1>
  @each(event in events)
  <div class="event-container">
    <div class="blank"></div>
    <div>
      <h3><a href="{{ event.link }}">{{ event.title }}</a></h3>
      <p>{{ event.description }}</p>
    </div>
  </div>
  @endeach
@endsection

